.historial-container {
    padding: 1rem;
  }
  
  .venta-bloque {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 2rem;
    background-color: #f9f9f9;
  }

  .venta-bloque .TituloVenta{
    color: black;
  }
  
  .productos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 1rem;
    margin-top: 1rem;
  }
  
  .venta-total {
    text-align: right;
    margin-top: 1rem;
    font-weight: bold;
    color: #444;
  }
  